In [1]:
x = 5
y = 10 
print(x>y)

False

In [2]:
x = 5
y = 6
if x < y:
    print("yes")
else:
    print("no")

yes

In [3]:
print(bool("hello"))
print(bool())

True
False

In [4]:
def myfunc():
    return True
myfunc()

True

In [5]:
def myfuncc():
    return True
if myfuncc():
        print("yes")
else:
     print("no")

yes

In [6]:
 x = 33.33
y = "hello"
z = 3
print(isinstance(x,float))
print(isinstance(y,str))
print(isinstance(z,int))

True
True
True

In [7]:
 x = 5
 x -=2
 print(x)

3

In [8]:
x = 5
x >>= 2
print(x)

1

In [9]:
print(x:="hello world")
print(x)

hello world
hello world

In [10]:
 x = 11
 y = 33
 if not x>y:
     print("yes")
 else:
     print("no")

yes

In [11]:
x =  5 
y = 10 
print(x is not y)

True

In [12]:
print(~3)

-4

In [13]:
x = 5 
print(x>>3)

0

In [14]:
x = 5 
y = 3
print((x*y)-(y+x)//(x/y))

11.0

In [15]:
x = ["apple","mango","orange"]
print(x[1:])

['mango', 'orange']

In [16]:
x = ["apple","mango","orange","lemon"]
x[2]="kiwi"
print(x)

['apple', 'mango', 'kiwi', 'lemon']

In [17]:
x = ["apple","orange","kiwi"]
x.insert(1,"lemon")
print(x)

['apple', 'lemon', 'orange', 'kiwi']

In [18]:
x = ["apple","mango","orange","kiwi"]
y = ["lemon","melon","banana"]
x.append("watermelon")
print(x)
x.extend(y)
print(x)
print(x.insert(2,"pomagranate"))
print(x)

['apple', 'mango', 'orange', 'kiwi', 'watermelon']
['apple', 'mango', 'orange', 'kiwi', 'watermelon', 'lemon', 'melon', 'banana']
None
['apple', 'mango', 'pomagranate', 'orange', 'kiwi', 'watermelon', 'lemon', 'melon', 'banana']

In [19]:
 x = ["apple","mango","kiwi"]
 x.remove(x[1])
 print(x.append("kiwi"))
print(x)
 print(x)

None
['apple', 'kiwi', 'kiwi']
['apple', 'kiwi', 'kiwi']

In [20]:
x =["apple"]
del x
print(x)

NameError: name 'x' is not defined

In [ ]:
x = ["apple"]
x.clear()
print(x)

In [ ]:
x = ["apple","banana","kiwi","lemon"]
for fruits in x:
    print(x)
    print(fruits)

In [ ]:
x = ["apple","banana"]
for i in x:
    print(i)

In [ ]:
x =["apple","orange","kiwi","lemon"]
for i in range(len(x)):
 print(x[i])

In [ ]:
x = ["apple","banana","kiwi","lemon","melon"]
i = 1
while i < len(x):
    print(x[i])
    i =i+1

In [ ]:
x =["apple","kiwi"]
[print(i) for i in x]

In [ ]:
x = ["apple","banana","kiwi","lemon"]
y = []
for z in x:
 if "a" in z:
  y.append(z)
print(y)

In [ ]:
x = ["apple","banana","mango"]
y =[]
for z in x:
 if "e" in z:
  y.append(z)
print(y)

In [ ]:
x = ["apple","mango","orange"]
y = [z for z in x if "o" in z]
print(y)

In [ ]:
x = [x for x in range(11) if x >5]
print(x)

In [ ]:
x = ["apple","kiwi","orange"]
y = [z.upper() for z in x if "a" in z]
print(y)

In [ ]:
x = ["apple","mango","banana"]
y = ["hello" for z in x]
print(y)

In [ ]:
x = [ " this is a sentence"]
y = [z if z!= "is" else "was" for z in x ]
print(y)

In [ ]:
x = ["apple","banana","mango","kiwi"]
y = [z if z!="orange" else"lemon" for z in x]
print(y)

In [ ]:
x = ["a","z","w","l"]
x.sort()
x.sort(reverse=True)
print(x)

In [ ]:
def myfunc(n):
  return abs(n - 50)
x =[100,50,65,82,23]
x.sort(key = myfunc)
print(x)

In [ ]:
x = ["apple","Kiwi","banana"]
x.sort(key = str.lower)

x.sort()
x.reverse()
print(x)

In [ ]:
x = ["apple","mango","kiwi"]
y = x.copy()
z = list(x)
c = x[:]
print(y)
print(z)
print(c)

In [ ]:
x = ["a","b","c"]
y = [1,2,3]
for z in y:
    x.append(z)
print(x)

In [ ]:
 x = ("apple",)
 y = ("apple")
print(type(x))
print(type(y))
print(len(x))

In [ ]:
x = ("apple","orange","kiwi")
print(x[0])
y = x[1]
print(y)

In [ ]:
x = ("apple","mango","kiwi","lemon")
y = list(x)
y[0]="melon"
print(y)
y = tuple(y)
print(y)

In [ ]:
x = ("apple","mango","kiwi")
y = list(x)
y[1]= "lemon"
x = tuple(y)
print(x)

In [ ]:
x = ("apple","mango","banana","kiwi")
y = ("lemon",)
print(x+y)

In [ ]:
x = ("apple","mango","kiwi","banana")
y = list(x)
y.append("melon")
x = tuple(y)
print(x)

In [ ]:
x = ("apple",)
y = ("mango","kiwi")
x += y
print(x)

In [ ]:
x = ("apple","kiwi","lemon")
y = list(x)
y.remove("apple")
x =tuple(y)
print(x)

In [ ]:
x =("apple","kiwi")
(mango,lemon) = x
print(mango)
print(lemon)

In [34]:
x = ("apple","mango","kiwi","lemon")
(a,b,*c) = x
print(a)
print(b)
print(c)

apple
mango
['kiwi', 'lemon']

In [32]:
x = ("apple","mango","kiwi")
for i in x :
    print(i)

apple
mango
kiwi

In [30]:
x = ("apple","kiwi","mango")
i = 0
while i < len(x):
  print(x[i])
  i = i + 1

apple
kiwi
mango

In [38]:
x = ("apple","mango","kiwi","lemon")
y = ("melon",)
z = x + y
print(z)
print(x*3)

('apple', 'mango', 'kiwi', 'lemon', 'melon')
('apple', 'mango', 'kiwi', 'lemon', 'apple', 'mango', 'kiwi', 'lemon', 'apple', 'mango', 'kiwi', 'lemon')

In [40]:
x = {"apple","kiwi","lemon"}
for i in x :
    print(i)

apple
kiwi
lemon

In [42]:
x = {"apple","banana","kiwi"}
if "apple" in x:
    print("yes")

yes

In [46]:
x = {"apple","lemon","kiwi"}
print("kiwi" in x )

True

In [48]:
x = {"apple","banana","kiwi"}
y = list(x)
y[0]="lemon"
x = set(y)
print(x)

{'kiwi', 'lemon', 'banana'}

In [50]:
x = {"apple","banana","lemon"}
x.add("melon")
print(x)

{'apple', 'melon', 'lemon', 'banana'}

In [52]:
x = {"apple","lemon","melon"}
y = { "kiwi"}
x.update(y)
print(x)

{'apple', 'kiwi', 'melon', 'lemon'}

In [68]:
x = {"apple","banana","mango","kiwi"}
x .remove("banana")
x.discard("apple")
print(x)
x.clear()
print(x)

{'kiwi', 'mango'}
set()

In [74]:
x = {"apple","banana","mango","kiwi"}
for i in x:
  print(i)

apple
kiwi
banana
mango

In [84]:
x = {"apple","mango","banana","kiwi"}
y = {"apple","lemon","melon"}
z = x.union(y)
print(z)
a =x.intersection(y)
print(a)
b =x.difference(y)
print(b)
c =x.symmetric_difference(y)
print(c)

{'kiwi', 'melon', 'apple', 'lemon', 'banana', 'mango'}
{'apple'}
{'kiwi', 'banana', 'mango'}
{'kiwi', 'banana', 'melon', 'lemon', 'mango'}

In [86]:
x = {"name":"dharun","age":19}
print(x)

{'name': 'dharun', 'age': 19}

In [94]:
x = {"name":"dharun","age":20}
y = x["name"]
z = x.get("age")
print(y)
print(z)

dharun
20

In [102]:
x = {"name":"dharun","age":20}
x["id"] ="three"
print(x)
print(x.values())
print(x.keys())
print(x.items())

{'name': 'dharun', 'age': 20, 'id': 'three'}
dict_values(['dharun', 20, 'three'])
dict_keys(['name', 'age', 'id'])
dict_items([('name', 'dharun'), ('age', 20), ('id', 'three')])

In [118]:
x = {"name":"dharun","age":19}
if "name" in x:
    print("yes")

yes

In [120]:
x = {"name":"dharun","age":19}
x["age"]=20
print(x)

{'name': 'dharun', 'age': 20}

In [130]:
x ={"name":"dharun","age":19}
x.update({"id":33})
print(x)

{'name': 'dharun', 'age': 19, 'id': 33}

In [132]:
x = {"name":"dharun","age":19}
x.pop("age")
print(x)

{'name': 'dharun'}

In [144]:
x ={"name":"dharun","age":19}
for i,a in x.items():
 print(i,a)

name dharun
age 19

In [148]:
x = {"name":"dharun","age":19}
y = x.copy()
z = dict(y)
print(y)
print(z)

{'name': 'dharun', 'age': 19}
{'name': 'dharun', 'age': 19}

In [162]:
myfamily = {
    "child1":{
    "name":"dharun"
}
    ,"child2":{
    "name":"revanth"
}
}
print(myfamily["child1"])

{'name': 'dharun'}

In [176]:
child1={
    "name":"dharun"}
child2={
    "name":"revanth"}
myfamily ={
    "child1":child1,
    "child2":child2
}
print(myfamily)

{'child1': {'name': 'dharun'}, 'child2': {'name': 'revanth'}}

In [194]:
myfamily = {
    "child1":{
    "name":"dharun"
},
"child2":{
"name":"revanth"
}
}
for x,y in myfamily.items():
    print(x)
    for z in y:
        print(z + ":",y[z])

child1
name: dharun
child2
name: revanth

In [208]:
x = {"name":"dharun","age":19}
y = x.setdefault("name","revanth")
print(y)

dharun

In [218]:
x = {"name":"dharun","age":19,"id":33}
y = x.setdefault("age","tup")
print(y)

19